 
 @mixin putChipOnDeskTop($position){
   0%{left: 592px;top: 627px;@include scale(0.7);}
   @if($position==bottom){
     50%{top: 440px; left: 350px; box-shadow: -47px 99px 30px rgba(0,0,0,0.5); @include scale(0.7);}
	100%{top: 436px; left: 329px; @include scale(0.65);}
   }@else{
     50%{top: 200px; left: 400px; box-shadow: -47px 99px 30px rgba(0,0,0,0.5); @include scale(0.65);}
	 100%{left:357px;top: 296px;}
   }   
}
  
 @-webkit-keyframes putChipOnDeskTop{
    @include putChipOnDeskTop(top);
 }
 
 @-moz-keyframes putChipOnDeskTop{
    @include putChipOnDeskTop(top);
 }
 
 @-ms-keyframes putChipOnDeskTop{
    @include putChipOnDeskTop(top);
 }
 
 @-o-keyframes putChipOnDeskTop{
    @include putChipOnDeskTop(top);
 }
 
 @keyframes putChipOnDeskTop{
    @include putChipOnDeskTop(top);
 }
 
 @-webkit-keyframes putChipOnDeskBottom{
    @include putChipOnDeskTop(bottom);
 }
 
 @-moz-keyframes putChipOnDeskBottom{
    @include putChipOnDeskTop(bottom);
 }
 
 @-ms-keyframes putChipOnDeskBottom{
    @include putChipOnDeskTop(bottom);
 }
 
 @-o-keyframes putChipOnDeskBottom{
    @include putChipOnDeskTop(bottom);
 }
 
 @keyframes putChipOnDeskBottom{
    @include putChipOnDeskTop(bottom);
 }
 