/**
* css for the game
**/
body{background-color:black;}
.gameStage{width:1200px; height:800px; background-image:url("images/rocabee_blackjack_board_5.jpg"); background-repeat:no-repeat; position:relative; margin-left:auto; margin-right:auto;}


/* simple */
		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			perspective: 1000;

			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
    			-moz-transform-style: preserve-3d; 
    			-ms-transform-style: preserve-3d; 
border: 1px solid #ccc;
transition:all 0.5s ease-in-out;
-webkit-transform: rotateX(5deg);
		}

.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
	border: 1px solid #ccc;
transition:all 0.5s ease-in-out;
}
		
		/* END: Accommodating for IE */

		.flip-container, .front, .back {
		width: 257px;
	height: 360px;
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-ms-transition: 0.6s;

			-moz-transition: 0.6s;
			-moz-transform: perspective(1000px);
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;

		    -webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;

		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;

		    -o-transition: 0.6s;
		    -o-transform-style: preserve-3d;

		    -ms-transition: 0.6s;
		    -ms-transform-style: preserve-3d;

		    transition: 0.6s;
		    transform-style: preserve-3d;

			position: absolute;
			top: 0;
			left: 0;
				background-image:url("images/generic_cards_set04_265x360size_shadow_optimized.png");
	background-repeat:no-repeat;
		}

		.front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);
			z-index: 2;
			background-position:-14050px 0px;
		}

		.back {
			-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		}


/**
* css for all the card
**/
.bh1{background-position:-4px 0px;}

/**
* css for the card when the card still in the stock
**/
.cardInStock{
-webkit-transform: rotateZ(-70deg) scale(0.45);
transform: rotateZ(-70deg) scale(0.45);
-moz-transform: rotateZ(-70deg) scale(0.45);
-ms-transform: rotateZ(-70deg) scale(0.45);
-o-transform: rotateZ(-70deg) scale(0.45);
position: absolute;
left: 899PX;
top: 65px;
}

/**
* css when the user get the card
**/
.flip-container.userFirtCard{
  -webkit-transform: rotateZ(0deg) rotateX(19deg) scale(0.5);
  transform: rotateZ(0deg) rotateX(19deg) scale(0.5);
-moz-transform: rotateZ(0deg) rotateX(19deg) scale(0.5);
-ms-transform: rotateZ(0deg) rotateX(19deg) scale(0.5);
-o-transform: rotateZ(0deg) rotateX(19deg) scale(0.5);
}

.flip-container.computerCard{
  -webkit-transform: rotateZ(0deg) rotateX(34deg) scale(0.4);
  transform: rotateZ(0deg) rotateX(34deg) scale(0.4);
-moz-transform: rotateZ(0deg) rotateX(34deg) scale(0.4);
-ms-transform: rotateZ(0deg) rotateX(34deg) scale(0.4);
-o-transform: rotateZ(0deg) rotateX(34deg) scale(0.4);
}

.flip-container.disapppear{
   left:24px !important;
   top:51px !important;
   opacity:0;
  -webkit-transform: rotateZ(25deg) rotateX(54deg) scale(0.4) rotateY(-14deg) !important;
  transform: rotateZ(25deg) rotateX(54deg) scale(0.4) rotateY(-14deg) !important;
-moz-transform: rotateZ(25deg) rotateX(54deg) scale(0.4) rotateY(-14deg) !important;
-ms-transform: rotateZ(25deg) rotateX(54deg) scale(0.4) rotateY(-14deg) !important;
-o-transform: rotateZ(25deg) rotateX(54deg) scale(0.4) rotateY(-14deg) !important;
 }








